<footer class="bg-primary-color-dark ph1-ns pt4 relative w-100" role="contentinfo">
    <div class="center flex flex-wrap justify-between mw9 w-90">
      <div class="pb3 b pt1 w-100 w-50-ns mt6 pa3">
          <h3 class="outline b f5 mv1  light-gray">
              This project has received funding from the European Union's Horizon 2020 research and innovation programme under grant agreement </br>No. 894204 (Ether, H2020-MSCA-IF-2019)
          </h3>
      </div>

      <div class="w-50 w-50"> 
        {{ partial "home-page-sections/sponsors.html" (dict "cx" .  "gtag" "footer" "classes_section" "pa3 w-100 mr2" "classes_copy" "f7 w-90-ns") }}
      </div>

    </div>

    <div class="bg-primary-color-dark bottom-0 left-0 right-0 dn-l fixed pb3 ph3 pt3 w-100">
      {{- partial "nav-mobile.html" . -}}
    </div>

</footer>
