<!-- TODO: Add follow intents where available TODO: Revisit color and hover color -->
{{ with .Site.Social.twitter }}
  <a href="https://twitter.com/intent/follow?screen_name={{ . }}" title="Follow on Twitter" class="link-transition twitter link dib z-999 pt3 pt0-l mr2">
    {{ partial "svg/twitter.svg" (dict "size" "32px") }}
  </a>
{{ end }}
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Place this tag where you want the button to render. -->
<a class="github-button"
   href="https://github.com/CARV-ICS-FORTH/frisbee/"
   data-color-scheme="no-preference: dark; light: light; dark: dark;"
   data-icon="octicon-star"
   data-size="large"
   data-show-count="true"
   aria-label="Star react on GitHub">Github Star</a>
   
